.gioHang{
    display: flex;
    justify-content: space-evenly;
    bpadding: 20px;
    display: none;
    position: relative;
}
.gioHangCuaBan{
    width: 70%;
    border: 1px solid rgba(138, 135, 135, 0.5);
    background: white;
    border-radius: 15px;
}
.gioHangCuaBan .header-gioHang{
    display: flex;
    padding: 15px 0;
    justify-content: space-around;
}

.gioHangCuaBan .box{
    border-top: 1px solid rgba(182, 182, 182, 0.437);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 98%;
    justify-content: space-around;
    align-items: center;
}
.gioHangCuaBan .box img{
    width: 100px;
    border: 1px solid rgba(133, 129, 129, 0.468);
}
.gioHangCuaBan .box .tenSP{
    width: 300px;
    font-size: 18px;
}
.gioHangCuaBan .box .donGia{
    font-size: 18px;
}
.gioHangCuaBan .box button{
    padding: 10px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}
.gioHangCuaBan .box button:hover{
    text-decoration: underline;
}
.thongTinHoaDon{
    width: 25%;
    padding: 15px;
    border: 1px solid rgba(140, 137, 137, 0.57);
    background-color: white;
    max-height: 450px;
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 15px;
}
.thongTinHoaDon .btn{
    text-align: center;
    margin: 10px;
}
.thongTinHoaDon .btn button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px grey;
    font-weight: bold;
    background-color: red;
    color: white;
    width: 300px;
}
.thongTinHoaDon .btn button:hover{
    background-color: green;
}
#tongSoTien{
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.form-main{
    padding: 15px;
    justify-content: space-around;
    position: relative;
}
.form-main .form{
    width:60%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    float: left;
    margin-left: 50px;
}
.form-main .form>div{
    width: 70%;
    margin: 0 auto;
}
.form-main .form h2{
    padding: 15px 0;
}
.form-main .form .field{
    padding: 10px 0;
    width: 100%;
}
.form-main .field label{
    color: red;
    font-size: 14px;
}

.form-main .form .contror{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(141, 139, 139, 0.342);
    outline:  green;
}

.form-main .form .contror:forcus{
    box-shadow: 0 0 5px blue;
    
}
.form-main .form p{
    padding: 10px 0 ;
}
.form-main .form .field div{
    padding: 10px 0;
}
.form-main .form .field span{
    padding-left:10px ;
}
.form-main .form .btn{
    margin:  0 auto;
    width: 300px;
}
.form-main .form .submit{
    padding: 10px 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(80, 133, 238);
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 5px grey;
}
.form-main .sidebar{
    width: 30%;
    border-radius: 10px;
    right: 20px;
    top: 20px;
    background-color: white;
    float: right;
    padding: 10px;
    margin: 0 30px 20px 0;
}
.form-main .sidebar .box{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(142, 138, 138, 0.102);
    /* border-top: 1px solid rgba(105, 105, 105, 0.162); */
    margin: 2px 0;
}
.form-main .sidebar img{
    width: 70px;
    border: 1px solid rgba(95, 90, 90, 0.575);
    padding-right: 10px;
}
.form-main .sidebar h4{
    padding: 10px;
}
.form-main .sidebar .order{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-size: 20px;
} 
.form-main .sidebar #soTien-ThanhToan{
    color: red;
    font-size: 22px;
    font-weight: bold;
}
